# General Ignores + IDE
.DS_Store
settings.xml
WEB-INF
build/**

# Engines + Database + CBFS + Secrets
.tmp/**
.env
.engine/**
.cbfs/**
docker/.db/**

# logs + tests
app/logs/**
runtime/logs/**
tests/results/**

# npm
**/node_modules/*
npm-debug.log
yarn-error.log

## Ignored Dependencies
effective-pom.xml
runtime/lib/**
runtime/java/**
.devcontainer/.db/**